@font-face {
   font-family: 'Greyscale_Basic_Bold';
   src: url('Greyscale_Basic_Bold/font.ttf');
}
@font-face {
   font-family: 'Greyscale_Basic_Regular';
   src: url('Greyscale_Basic_Regular/font.ttf');
}
